<div id="picture-comments-holder">
	<h4>Comments (<%= comments.length %>)</h4>
	<% comments.reverse().forEach( function(comment) { %>
		<hr><p><strong><%= comment.name %></strong><span style="float:right;"><%= comment.date %></span><br><%= comment.comment %></p>
	<% }); %>
	<% if (user) { %>
	<form class="well"method="get" action="/postComment">
		<h4>Post a Comment</h4>
		<input type="hidden" name="type" value="<%= commentType %>">
		<input type="hidden" name="page" value="<%= page %>">
		<textarea name="comment" rows="3" placeholder="Comment"></textarea><br>
		<input type="submit" class="btn" value="Post Comment">
	</form>
	<% } else { %>
		<p class="well">
			You must log in before you can post a comment.
		</p>	
	<% } %>
</div>