<% include precontent %>
<img src = "/img/Gallery/<%= img %>" >
<div id="picture-comments-holder" class="well">
	<h4>Comments (<%= comments.length %>)</h4>
	<% comments.forEach( function(comment) { %>
		<div><%= comment.name %> on <% var d = new Date(comment.createdAt); var dateString = (d.getMonth()+1) + "/" + d.getDate() + "/" + d.getFullYear() %><%= dateString %>: <%= comment.comment %></div>
	<% }); %>
	<br>
	<% if (user) { %>
	<form method="get" action="/postComment">
			<input type="hidden" name="type" value="picture">
			<input type="hidden" name="page" value="<%= img %>">
			<textarea name="comment" rows="3" placeholder="Comment"></textarea><br>
			<input type="submit" class="btn" value="Post Comment">
	</form>
	<% } else { %>
		<p>
			You must log in before you can post a comment.
		</p>	
	<% } %>
</div>
<% include postcontent %>